# IMPORTS

In [3]:
import pandas as pd
import numpy  as np

# DATA INTAKE

In [4]:
df = pd.read_csv('./beat-the-bookie_data_year-2015_type-raw.csv', encoding='utf-8')

In [5]:
# data preview:
df.head(5)

,match_id,match_date,match_time,score_home,score_away,home_b1_0,home_b1_1,home_b1_2,home_b1_3,home_b1_4,...,away_b32_62,away_b32_63,away_b32_64,away_b32_65,away_b32_66,away_b32_67,away_b32_68,away_b32_69,away_b32_70,away_b32_71
0,1003520,10/13/2015,19:00:00,1,0,NaN,NaN,NaN,NaN,NaN,...,2.62,2.7,2.87,3.10,3.30,3.30,3.40,3.30,3.20,3.20
1,1005104,9/27/2015,17:30:00,0,1,NaN,NaN,NaN,NaN,NaN,...,2.50,2.5,2.50,2.50,2.50,2.50,2.50,2.50,2.50,2.50
2,1005105,9/25/2015,14:45:00,3,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.80,3.80,3.80
3,1005106,9/27/2015,12:00:00,1,0,NaN,NaN,NaN,NaN,NaN,...,2.20,2.2,2.20,2.20,2.20,2.20,2.20,2.20,2.20,2.20
4,1005107,9/26/2015,15:00:00,4,0,NaN,NaN,NaN,NaN,NaN,...,4.00,4.0,4.00,4.75,4.75,4.75,4.75,4.75,4.75,4.75

In [6]:
score_home = df['score_home']
score_away = df['score_away']

conditions = [
    score_home > score_away, 
    score_home < score_away,
    score_home == score_away
]

choices = [
    'home',
    'away',
    'tie'
]

# determine winner of match:
df['winner'] = np.select(conditions, choices, "ERROR")

In [7]:
# updated data preview: 
df.head(5)

,match_id,match_date,match_time,score_home,score_away,home_b1_0,home_b1_1,home_b1_2,home_b1_3,home_b1_4,...,away_b32_63,away_b32_64,away_b32_65,away_b32_66,away_b32_67,away_b32_68,away_b32_69,away_b32_70,away_b32_71,winner
0,1003520,10/13/2015,19:00:00,1,0,NaN,NaN,NaN,NaN,NaN,...,2.7,2.87,3.10,3.30,3.30,3.40,3.30,3.20,3.20,home
1,1005104,9/27/2015,17:30:00,0,1,NaN,NaN,NaN,NaN,NaN,...,2.5,2.50,2.50,2.50,2.50,2.50,2.50,2.50,2.50,away
2,1005105,9/25/2015,14:45:00,3,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.80,3.80,3.80,home
3,1005106,9/27/2015,12:00:00,1,0,NaN,NaN,NaN,NaN,NaN,...,2.2,2.20,2.20,2.20,2.20,2.20,2.20,2.20,2.20,home
4,1005107,9/26/2015,15:00:00,4,0,NaN,NaN,NaN,NaN,NaN,...,4.0,4.00,4.75,4.75,4.75,4.75,4.75,4.75,4.75,home

In [8]:
# only keep rows corresponding to matches with a clear winner:
df = df[(df.winner == 'home') | (df.winner == 'away')]

In [9]:
# spot check - should observe 2 unique values: 
df['winner'].describe()

count     23728
unique        2
top        home
freq      14071
Name: winner, dtype: object

In [10]:
# drop non-odds and non-winner columns:
df = df.drop(['match_id', 'match_date', 'match_time', 'score_home', 'score_away'], axis=1)

In [11]:
# updated data preview:
df.head(5)

,home_b1_0,home_b1_1,home_b1_2,home_b1_3,home_b1_4,home_b1_5,home_b1_6,home_b1_7,home_b1_8,home_b1_9,...,away_b32_63,away_b32_64,away_b32_65,away_b32_66,away_b32_67,away_b32_68,away_b32_69,away_b32_70,away_b32_71,winner
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7,2.87,3.10,3.30,3.30,3.40,3.30,3.20,3.20,home
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,2.50,2.50,2.50,2.50,2.50,2.50,2.50,2.50,away
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.80,3.80,3.80,home
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.2,2.20,2.20,2.20,2.20,2.20,2.20,2.20,2.20,home
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.00,4.75,4.75,4.75,4.75,4.75,4.75,4.75,home

In [12]:
import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)
pd.options.mode.chained_assignment = None

NUM_HOURS = 72

ret = pd.DataFrame()

# compute aggregate by-hour odds for every match:
for team in ['home', 'away']: 
    team_odds_cols = df.filter(regex=team+"_*").columns
    team_odds_df = df[list(team_odds_cols)]
    
    for i in range(NUM_HOURS):
        hour_odds_cols = team_odds_df.filter(regex="_" + str(i)).columns
        hour_odds_df = team_odds_df[list(hour_odds_cols)]
        ret[team+'_avg_odds_hr_' + str(i)] = hour_odds_df.median(axis=1)

In [13]:
# add back in the 'winner' column:
ret['winner'] = df['winner']

# data preview:
ret.head(5)

,home_avg_odds_hr_0,home_avg_odds_hr_1,home_avg_odds_hr_2,home_avg_odds_hr_3,home_avg_odds_hr_4,home_avg_odds_hr_5,home_avg_odds_hr_6,home_avg_odds_hr_7,home_avg_odds_hr_8,home_avg_odds_hr_9,...,away_avg_odds_hr_63,away_avg_odds_hr_64,away_avg_odds_hr_65,away_avg_odds_hr_66,away_avg_odds_hr_67,away_avg_odds_hr_68,away_avg_odds_hr_69,away_avg_odds_hr_70,away_avg_odds_hr_71,winner
0,3.3,3.30,3.30,3.10,2.700,2.70,2.400,2.20,3.3,3.3,...,2.700,2.830,2.930,3.100,3.250,3.250,3.24,3.20,3.20,home
1,NaN,2.14,2.14,2.14,2.230,2.24,2.250,2.25,NaN,NaN,...,2.660,2.660,2.660,2.660,2.660,2.660,2.66,2.66,2.66,away
2,NaN,NaN,NaN,NaN,1.820,1.82,1.775,1.80,NaN,NaN,...,3.800,3.810,3.875,3.760,3.700,3.705,3.69,3.67,3.67,home
3,NaN,NaN,2.51,2.60,2.640,2.69,2.700,2.65,NaN,NaN,...,2.195,2.195,2.195,2.195,2.195,2.150,2.30,2.25,2.25,home
4,NaN,NaN,NaN,NaN,1.665,1.70,1.620,1.62,NaN,NaN,...,4.000,4.000,4.600,4.500,4.500,4.500,4.38,4.40,4.40,home

In [14]:
# drop columns which have non-odds in any columns (i.e. for any hour, for either home or away team):
ret = ret.dropna(axis=0, how='any')

# compare entry counts: 
print(f'old length :: {len(df)}, new length :: {len(ret)}')

# data preview:
ret.head(3)

old length :: 23728, new length :: 9995

,home_avg_odds_hr_0,home_avg_odds_hr_1,home_avg_odds_hr_2,home_avg_odds_hr_3,home_avg_odds_hr_4,home_avg_odds_hr_5,home_avg_odds_hr_6,home_avg_odds_hr_7,home_avg_odds_hr_8,home_avg_odds_hr_9,...,away_avg_odds_hr_63,away_avg_odds_hr_64,away_avg_odds_hr_65,away_avg_odds_hr_66,away_avg_odds_hr_67,away_avg_odds_hr_68,away_avg_odds_hr_69,away_avg_odds_hr_70,away_avg_odds_hr_71,winner
0,3.300,3.30,3.30,3.10,2.70,2.70,2.40,2.20,3.30,3.30,...,2.700,2.830,2.930,3.100,3.250,3.250,3.240,3.200,3.200,home
9,2.580,2.58,2.58,2.58,2.58,2.58,2.58,2.58,2.58,2.58,...,2.375,2.375,2.375,2.375,2.375,2.375,2.375,2.375,2.375,away
36,1.145,1.14,1.14,1.14,1.15,1.15,1.13,1.12,1.14,1.14,...,16.000,16.000,16.000,17.000,18.000,19.000,19.000,19.000,19.000,home

In [15]:
# convert all odds to moneylines:
for col in ret.columns:
    if col != 'winner':
        ret[col] = np.where(ret[col] >= 2., (((ret[col] - 1) * 100) // 10) * 10, ((-100 / (ret[col] - 1)) // 10) * 10)
        
# formulas:
# ---------
# for decimal odds of 2.00 or greater: (decimal odds - 1) * 100 = American odds.
# for decimal odds between 1.01 and 1.99: -100 / (decimal odds - 1) = American odds.

In [16]:
# updated data preview:
ret.head(5)

,home_avg_odds_hr_0,home_avg_odds_hr_1,home_avg_odds_hr_2,home_avg_odds_hr_3,home_avg_odds_hr_4,home_avg_odds_hr_5,home_avg_odds_hr_6,home_avg_odds_hr_7,home_avg_odds_hr_8,home_avg_odds_hr_9,...,away_avg_odds_hr_63,away_avg_odds_hr_64,away_avg_odds_hr_65,away_avg_odds_hr_66,away_avg_odds_hr_67,away_avg_odds_hr_68,away_avg_odds_hr_69,away_avg_odds_hr_70,away_avg_odds_hr_71,winner
0,220.0,220.0,220.0,210.0,170.0,170.0,140.0,120.0,220.0,220.0,...,170.0,180.0,190.0,210.0,220.0,220.0,220.0,220.0,220.0,home
9,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,...,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,away
36,-690.0,-720.0,-720.0,-720.0,-670.0,-670.0,-770.0,-840.0,-720.0,-720.0,...,1500.0,1500.0,1500.0,1600.0,1700.0,1800.0,1800.0,1800.0,1800.0,home
37,-140.0,-140.0,-140.0,-140.0,-140.0,-140.0,-160.0,-160.0,-140.0,-140.0,...,350.0,350.0,350.0,360.0,360.0,370.0,370.0,350.0,350.0,away
38,140.0,140.0,120.0,120.0,120.0,110.0,110.0,110.0,140.0,140.0,...,220.0,220.0,220.0,220.0,240.0,230.0,230.0,220.0,220.0,home

In [17]:
home_avg_odds_hr_71 = ret['home_avg_odds_hr_71']
away_avg_odds_hr_71 = ret['away_avg_odds_hr_71']

conditions = [
    
    # both neg:
    (home_avg_odds_hr_71 < 0) & (away_avg_odds_hr_71 < 0) & (away_avg_odds_hr_71 <= home_avg_odds_hr_71),
    (home_avg_odds_hr_71 < 0) & (away_avg_odds_hr_71 < 0) & (away_avg_odds_hr_71 > home_avg_odds_hr_71),
    
    # both pos: 
    (home_avg_odds_hr_71 > 0) & (away_avg_odds_hr_71 > 0) & (away_avg_odds_hr_71 <= home_avg_odds_hr_71),
    (home_avg_odds_hr_71 > 0) & (away_avg_odds_hr_71 > 0) & (away_avg_odds_hr_71 > home_avg_odds_hr_71),
    
    # one neg, one pos:
    (home_avg_odds_hr_71 > 0) & (away_avg_odds_hr_71 < 0),
    (home_avg_odds_hr_71 < 0) & (away_avg_odds_hr_71 > 0)
    
]

choices = [
    'away',
    'home',
    'away',
    'home',
    'away',
    'home'
]

# determine moneyline favorite: 
ret['favorite'] = np.select(conditions, choices, "ERROR")

In [18]:
old_len = len(ret)

# drop columns which have 'ERROR' in the favorite column:
ret = ret[ret['favorite'] != 'ERROR']

# compare entry counts: 
print(f'old length :: {old_len}, new length :: {len(ret)}')

# data preview:
ret.head(3)

old length :: 9995, new length :: 9994

,home_avg_odds_hr_0,home_avg_odds_hr_1,home_avg_odds_hr_2,home_avg_odds_hr_3,home_avg_odds_hr_4,home_avg_odds_hr_5,home_avg_odds_hr_6,home_avg_odds_hr_7,home_avg_odds_hr_8,home_avg_odds_hr_9,...,away_avg_odds_hr_64,away_avg_odds_hr_65,away_avg_odds_hr_66,away_avg_odds_hr_67,away_avg_odds_hr_68,away_avg_odds_hr_69,away_avg_odds_hr_70,away_avg_odds_hr_71,winner,favorite
0,220.0,220.0,220.0,210.0,170.0,170.0,140.0,120.0,220.0,220.0,...,180.0,190.0,210.0,220.0,220.0,220.0,220.0,220.0,home,home
9,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,...,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,away,away
36,-690.0,-720.0,-720.0,-720.0,-670.0,-670.0,-770.0,-840.0,-720.0,-720.0,...,1500.0,1500.0,1600.0,1700.0,1800.0,1800.0,1800.0,1800.0,home,home

In [19]:
# deetermine which events have a favorite for winner (i.e., one team has a negative moneyline, other has a positive moneyline): 
home_avg_odds_hr_71 = ret['home_avg_odds_hr_71']
away_avg_odds_hr_71 = ret['away_avg_odds_hr_71']

conditions = [    
    # one neg, one pos:
    (home_avg_odds_hr_71 > 0) & (away_avg_odds_hr_71 < 0),
    (home_avg_odds_hr_71 < 0) & (away_avg_odds_hr_71 > 0)
]

choices = [
    True, True
]

# determine moneyline favorite: 
ret['has_favorite_for_winner'] = np.select(conditions, choices, False)

In [20]:
# updated data preview: 
ret['has_favorite_for_winner'].describe()

count     9994
unique       2
top       True
freq      5221
Name: has_favorite_for_winner, dtype: object

In [21]:
# deetermine which events are closely contested (odds within +/- 400):
CLOSELY_CONTESTED_CUTOFF = 400

home_avg_odds_hr_71 = ret['home_avg_odds_hr_71']
away_avg_odds_hr_71 = ret['away_avg_odds_hr_71']

conditions = [    
    # one neg, one pos:
    abs(home_avg_odds_hr_71 - away_avg_odds_hr_71) <= CLOSELY_CONTESTED_CUTOFF,
    abs(home_avg_odds_hr_71 - away_avg_odds_hr_71) >  CLOSELY_CONTESTED_CUTOFF,
]

choices = [
    True, False
]

# determine moneyline favorite: 
ret['closely_contested'] = np.select(conditions, choices, "ERROR")

In [22]:
old_len = len(ret)

# drop columns which have 'ERROR' in the closely_contested column:
ret = ret[ret['closely_contested'] != 'ERROR']

# compare entry counts: 
print(f'old length :: {old_len}, new length :: {len(ret)}')

# data preview:
ret.head(3)

old length :: 9994, new length :: 9994

,home_avg_odds_hr_0,home_avg_odds_hr_1,home_avg_odds_hr_2,home_avg_odds_hr_3,home_avg_odds_hr_4,home_avg_odds_hr_5,home_avg_odds_hr_6,home_avg_odds_hr_7,home_avg_odds_hr_8,home_avg_odds_hr_9,...,away_avg_odds_hr_66,away_avg_odds_hr_67,away_avg_odds_hr_68,away_avg_odds_hr_69,away_avg_odds_hr_70,away_avg_odds_hr_71,winner,favorite,has_favorite_for_winner,closely_contested
0,220.0,220.0,220.0,210.0,170.0,170.0,140.0,120.0,220.0,220.0,...,210.0,220.0,220.0,220.0,220.0,220.0,home,home,False,True
9,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,...,130.0,130.0,130.0,130.0,130.0,130.0,away,away,False,True
36,-690.0,-720.0,-720.0,-720.0,-670.0,-670.0,-770.0,-840.0,-720.0,-720.0,...,1600.0,1700.0,1800.0,1800.0,1800.0,1800.0,home,home,True,False

In [23]:
# final stats check:
ret['has_favorite_for_winner'].describe()

count     9994
unique       2
top       True
freq      5221
Name: has_favorite_for_winner, dtype: object

In [24]:
ret['closely_contested'].describe()

count     9994
unique       2
top       True
freq      5670
Name: closely_contested, dtype: object

In [25]:
# split dataframe into train, valid, test: 
from sklearn.model_selection import train_test_split

# train and test split: 
train, test = train_test_split(ret, test_size=0.1)

# re-split train into train and valid: 
train, valid = train_test_split(train, test_size=(1./3))

In [26]:
# check lengths of all three splits: 
print(len(train), len(valid), len(test))

5996 2998 1000

In [27]:
# save all three split csv's: 
train.to_csv('./train_data.csv', encoding='utf-8', index=False)

valid.to_csv('./valid_data.csv', encoding='utf-8', index=False)

test.to_csv('./test_data.csv', encoding='utf-8', index=False)